body {
  margin: 0;
  padding: 0;
  background: white;
}

div {
  vertical-align: top;
  padding: 0;
  margin: 0;
}

h1, h2, h3, table, label, dd, dt, dl, ul, ol, li, a, p {
  padding: 0;
  margin: 0;
}

p, li, blockquote, td, th, dd, label {
  color: #777779;
  font: normal normal normal 12px helvetica, arial, sans-serif;
}

p {
  padding: .9em 0 .5em 0;
  color: #333333;
  line-height: 1.8em;
}

div.page_main {
  width: 1191px;
  background: white url(images/template/body_repeat_vertical.jpg) top right repeat-y;
}

/* page template divs */
div.page_top {
  height: 90px;
  width: 1191px;
  background: white url(images/template/header_bg.png) bottom left repeat-x;
}

div.header_left {
  width: 100%;
  height: 90px;
  background: transparent url(images/template/header_left.png) top left no-repeat;
}

div.header_right {
  height: 90px;
  padding-top: 39px;
}

body.normal div.header_right {
  background: transparent url(images/template/header_right.jpg) top right no-repeat;
}

body.widescreen div.header_right {
  background: transparent url(images/template/header_right_nopattern.jpg) top right no-repeat;
}

div.menu_space {
  border: 1px dotted #cccccc;
  border-bottom: none;
  width: 434px;
  height: 50px;
  margin-left: 368px;
}



/* absolute divs */
div.emspace_logo_header {
  height: 242px;
  width: 119px;
  position: absolute;
  top: 0px;
  left: 218px;
  overflow: hidden;
}

div.emspace_logo_header p {
  margin: 0;
  padding: 0;
  background:transparent url(images/template/emspace_logo_header.png) top left no-repeat;
  padding-top: 250px;
  height: 0;
  font-size: 10px;
  line-height: 0;
  overflow: hidden;
}


a img {
  border: 0;
}

/* Images to align to different positions of divs */
img.aligntop {
  position: absolute;
  top: 0px;
}

img.alignbottom {
  position: absolute;
  bottom: 0px;
}

a.fright {
  display: block;
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}


/*font: italic small-caps 900 12px arial */
/* standard types */



.layout {
  width: 100%;
}


h1, h2  {
  font: normal normal bold 13px helvetica, arial, sans-serif;
  text-transform: uppercase;
  color: #786B60;
  text-align: center;
  width: 100%;
  border: 1px solid #D7D8BF;
  border-left: 0;
  border-right: 0;
  margin-top: 1.5em;
  height: 1.2em;
  padding-top:3px;
}

h3 {
  font: normal bold 12px georgia, serif;
  color: #5B5C55;
  text-align: left;
  margin-top: 1.5em;
  height: 1.2em;
}

h4 {
  font: normal normal 13px georgia, serif;
  color: #5B5C55;
  text-align: left;
  margin-top: 1.5em;
  height: 1.2em;
  padding-left: 20px;
}

div.column_center span.terms {
  display:none;
  }

div.column_left, div.column_left p, div.column_left li, div.column_left blockquote, div.column_left td, div.column_left dd, div.column_left label {
  text-align: right;
}

a, a:visited {
  color: #786B60;
  text-decoration: none;
}

p a, p a:visited, p a:hover,
td a, td a:visited, td a:hover {
  color: #D17232;
}

p a:hover {
  text-decoration: underline;
}

a:hover {
  color: black;
  text-decoration: underline;
}

#user-login-form {
  text-align: right;
}

.item-list .icon {
  color: #555;
  float: right;
  padding-left: 0.25em;
  clear: right;
}
.item-list .title {
  font-weight: bold;
}
/*
.item-list ul {
  margin: 0 0 0.75em 0;
  padding: 5px 0 5px 0;
  background: transparent url(images/template/ul_bg.jpg) top right repeat-y;
}
.item-list ul li {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
}

.item-list ul li a {
  border: 1px solid #777779;
  font: normal small-caps normal 10px helvetica, arial, sans-serif;
  padding: 2px 2px;
}
*/
.item-list ul li {
  list-style: none;
}


ul.menu {
  list-style: none;
  border: none;
  text-align:left;
}
ul.menu li {
  margin: 0 0 0 0.5em;
}
li.expanded {
  list-style-type: none;
/*  list-style-type: square;
  list-style-image: url(../../misc/menu-expanded.png); */
}
li.collapsed {
  list-style-type: none;
  list-style-image: none;
}
li.leaf {
  list-style-type: none;
  list-style-image: none;
}
li a.active {
  color: #000;
}
td.menu-disabled {
  background: #ccc;
}
ul.links {
  margin: 0;
  padding: 0;
}
ul.links.inline {
  display: inline;
}
ul li.collapsed a, ul li.leaf a,  {
  list-style-type: none;
  list-style-image: none;
  }
.block ul {
  margin: 0;
  padding: 0 0 0.25em 1em;
}

div.column_left .block ul {
  margin-top: 3px;
  margin-bottom: 10px;
}

div.column_left ul.menu li ul{
  border-right: 1px dotted #cccccc;
/*  border-bottom: 1px dotted #cccccc; */
/*  background: transparent url(/sites/all/themes/emspace/images/menu-reverse.png) top right no-repeat; */
  padding-right: 20px;
}

li.expanded a {
  border-bottom: 1px dotted #cccccc;
}
li.leaf a, li.collapsed a {
  border-bottom: 0;
}

li.expanded {
  list-style-image:none;
}

div.column_left ul.menu li.leaf {
  padding:0.2em 0 0pt 0pt;
}

div.column_left ul.menu li ul li.leaf {
  padding:0.2em 2px 0pt 0pt;
}

div.column_left ul.menu li.expanded {
  padding:0.2em 2px 0pt 0pt;
}
div.column_left ul.menu li.collapsed {
  padding-right: 2px;
}

div.column_left ul.links li a {
  list-style-type: none;
  }

dt, dt a {
  color: #5B5C55;
  font: normal bold 13px georgia, serif;
  margin-top: 10px;
}

dd {
  margin-top: 10px;
  }


dt a:hover {
  color: black;
  }


div.column_center ul {
  margin-top: 10px;
  list-style-position: inside;
  padding-left: 20px;
}

div.column_center ul a {
  position: inline;
}




.book-navigation ul {
  display: none;
}


a.feed-icon {
  margin-top: 30px;
  float: right;
}




@media print {
  div.column_left { display: none; }
  div.column_right { display: none; }
  div.page_top { display: none; }
  div.footer { display: none; }
  div.footer { display: none; }
  div.tabs { display: none; }
  div.column_center { width: 8in; border: 0; padding:0;}
  div#column_center_inner { width: 80%; border: 0; }
  div#column_center_wide { width: 80%; border: 0; }
}


h1.title {display:none;}

div.menu_space {
  }

div#ironwork {
  height: 29px;
  width: 434px;
  }

/*
** Tab navigation
*/
div#ironwork  ul.ironwork {
  margin-top: 16px;
  border-collapse: collapse;
  white-space: nowrap;
  list-style: none;
  height: 29px;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 0;
}
ul.ironwork li {
  display: block;
  float: left;
  height: 29px;
  margin-top:0;
}
ul.ironwork li a {
  display:block;
  height: 29px;
  width:100%;
}
ul.ironwork li.active a {
}
ul.ironwork li a:hover {
}

ul.ironwork li div {
  display: block;
  height: 29px;
  width:100%;
}

div.page_main ul.links {
  padding-left: 0;
  margin-top: 20px;
  }

div.page_main ul.links li {
  padding-left: 0;
  }

div.page_main div.links {
  padding-top: 10px;
  }


div.footer {
  width: 1191px;
  height: 140px;
  background: transparent url(images/template/footer_bg.jpg) bottom right no-repeat;
  padding-top: 5px;
  /* content styles */
  text-align: center;
  color: #CCCCCC;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  clear: both;
  /*display: none;*/
}

div.desktop_image_wrap {
  top: 0;
  left:0;
  position: absolute;
  z-index: 10;
  height:0px;
  width:0px;
}
div.desktop_image {
  background: transparent url(images/template/pencil.jpg) top left no-repeat;
  font-size: 2px;
  width: 298px;
  height: 272px;
  margin-top: 600px;
}


div.page-links {
  margin-top: 20px;
  }

div.field-field-page-layout,
div.field-field-far-right {
  display: none;
}

/*
body.widescreen div.column_left {
  width: 100px;
}
body.widescreen div.desktop_image_wrap {
  display: none;
}
*/



.swftools-wrapper {
  margin: 5px;
}

.column_right .block h2  {
  text-align: left;
  width: 200px;
  margin-bottom: 10px;
  margin-left: 20px;
}


/* LAYOUT LEFT */
div.column_left {
  width: 368px;
  min-height: 600px;
  float: left;
  padding-top: 150px;
  /* content styles */
  font-family:  Arial, Helvetica, sans-serif;
}

div#column_left_inner {
  padding-left: 150px;
  padding-right: 10px;
}

/* LAYOUT CENTER */
div.column_center{
  width: 434px;
  float: left;
  border: 1px dotted #cccccc;
  border-top: none;
}
  body.normal div.column_center{
    min-height: 600px;
    padding-top: 150px;
  }
  body.widescreen div.column_center{
    min-height: 700px;
    padding-top: 50px;
  }

div#column_center_inner {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  width: 374px;
}
  body.widescreen div#column_center_inner {
    margin: 0 30px 30px 30px;
    background-color: white;
    width: 560px;
    border: 1px dashed #CCCCCC;
    overflow: visible;
  }

/* LAYOUT RIGHT */
div.column_right {
  min-height: 600px;
  float: left;
}
  body.normal div.column_right {
    background: transparent url(images/template/column_right_top.jpg) top left no-repeat;
    width: 246px;
    padding-top: 150px;
  }
  body.widescreen div.column_right {
    margin-left: 219px;
    margin-top: 50px;
    width: 26px;
    background: transparent url(images/template/icons/icon-menu.jpg) top right no-repeat;
    text-align: left;
  }

  body.logged-in .page_main div.column_right {
/*    border: 1px solid blue; */
  }
  body.logged-in .page_main div#column_right_inner {
/*    border: 1px solid red; */
  }

  body.normal div#column_right_inner {
/*    padding-right: 120px; */
  }
  body.widescreen div#column_right_inner {
    display: none;
    background: 1px white;
    z-index: 10;
    min-height: 700px;
    position: absolute;
    width: 240px;
    border: 1px dashed #CCCCCC;
    left: 780px;
  }

  body.normal a#action-menu {
   display: none;
  }
  body.widescreen a#action-menu {
   display: block;
   width: 25px;
   height: 22px;
   float: right;
  }


/* LAYOUT FAR RIGHT */
div.column_far_right {
  width: 138px;
  min-height: 600px;
  float: right;
  padding-top: 150px;
}

body.widescreen div.column_far_right {
  padding-top: 50px;
}



div#column_far_right_inner {
/*  padding-right: 120px; */
}


/*
** HTML elements
*/
table {
  width: 100%;
}
tr.even, tr.odd {
  background-color: #F9F9EF;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}
td.active {
  background-color: #ddd;
}
tbody {
  border-top: 1px solid #ccc;
}
tbody th {
  border-bottom: 1px solid #ccc;
}
thead th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #ccc;
}

.codeblock {
  margin-top: .5em;
  margin-bottom: .5em;
}

code {
  color: #590442;
}

.adsense {
  padding-left: 6px;
}

.far-right-adsense form {
  padding-left: 20px;
  padding-bottom: 6px;
}


table.info {
  margin: 10px 0 10px 0;
  border: 1px solid #CCC;
}

table.info td, table.info th  {
  vertical-align: top;
  border: 1px dashed #CCC;
  padding: 3px;
}


li {
  margin-top: 5px;
}


table td.view-field-node-body {
  padding-left: 10px;
  vertical-align: top;
}

table td.view-field {
  padding-top: 5px;
  padding-bottom: 5px;
}
