/**
 * Simplemenu over-rides
 *
 */
#simplemenu {
  color: white;
  background: #F9F9EF url(/sites/all/themes/emspace/images/emspace-simplemenu.png) top right repeat-x;
}

#simplemenu li, #simplemenu a {
  background: transparent;
  color: #D17232;
  border: 0;
}

#simplemenu li li {
  background: #F9F9EF;
}

#simplemenu li:hover,#simplemenu li.sfhover,#simplemenu a:focus,#simplemenu a:hover,#simplemenu a:active {
  background: white;
  color: #D17232;
}

#simplemenu li.root > a {
  background-image:none;
}