@import "../emspace.css";

div.desktop_image {
  display: none;
}

.form-item label {
  color: #D17232;
  font-size: 14px;
  margin-bottom: 3px;
}

.form-item .description {
  color: #333;
  font-size: 13px;
  margin-bottom: 3px;
}

/* LAYOUT LEFT */
div.column_left {
  width: 268px;
  padding-top: 10px;
}

div#column_left_inner {
  padding-left: 10px;
}

body.widescreen div#column_center_inner {
  width:660px;
}

body.widescreen div.column_right {
  margin-left:319px;
}

div.menu_space {
  margin-left:268px;
}

body.widescreen div#column_right_inner {
  width:240px;
}